body{
    background-image: url("b.jpeg");
    background-repeat:no repeat;
    background-size:cover;
}
.login-form
{
    width:90%;
    max-width:450px;
    top:50px;
    left:50%;
    transform:translate(-50%,50%);
    background:#fff;
    padding:50px 60px 70px;
    text-align:center;
}
.login-form{
    font-size:30px;
    margin-bottom:60px;
    color:#3c00a0;
    position:relative;
}